@import "../../colors.scss";

.single {
  display: flex;
  align-items: center;
  justify-content: center;

  .dropzone {
      border: 2px dashed $color-font;
      border-radius: 15px;
      padding: 10px 20px;
  }

  &--col {
    display: flex;
    flex-direction: column;
  }

  .search--img {
    max-width: 600px;
  }

  .sider {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%;
    background: $color-details;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
      width: 15%;
    }

    .zero {
        margin: 0;
        padding: 5px 10px;
    }

    .flex {
        display: flex;
        align-items: center;
        background-color: $color-primary;
        color: #fff;
        height: 40px;
        width: 100%;
        border: 1px solid $color-tertiary;
        justify-content: center;
    }
  }
}
